.a {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.a-left {
    flex:1;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.a-right {
    flex:1;
}

.a-card.bg {
    position: absolute;
    top: 50px;
    left: 50px;
}

.a-card {
    width: 75%;
    height: 70vh;
}
.a-img {
    width: 100%;
    height: 100%;
}
.a-title {
    color: black;
    font-weight: 400;
    width:80%;
    margin-bottom: 60px;

}
.a-sub {
    color: black; 
    font-weight: 400;
    font-size: 20px;
    width: 80%;
    margin-left: 25px;
}