.c {
    height: 90vh; 
}

.c-bg {
    background-image: url('../../images/c-bg3.jpg');
    top:0px;
    width: 1500px;
    height:110vh;
    background-size: cover; /* or "contain" depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    filter: brightness(40%);
}
.c-wrapper{
    padding: 50px; 
    display: flex; 
    width: 80%;
    margin: 0 auto;
}
.c-left {
    flex: 1;
}
.c-right {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
}
.c-image {
    width: 20%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}
form {
    margin-top: 20px; 
    text-align: center;
}
input {
    width: 95%;
    height: 50px; 
    border: 1px solid black; 
    margin: 10px 0; 
    font-size: 14px; 
    padding-left: 10px;
}
textarea {
    width: 95%; 
    margin: 10px 0; 
    font-size: 14px; 
    padding-left: 10px;
}
button {
    padding: 15px;
    width:20%;
    background-color: black;
    color: white;
    font-weight: 500; 
    cursor: pointer;
    margin-right:75%;
    border: 2px white;
}