.hero-container {
    height: 82vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
}

.hero-container h1 {
    color: white;
    font-size: 70px;
    margin-top: -20px;
}

.hero-container h2 {
    color: lightgray;
    font-size: 25px;
    margin-top: 0px;
}
  
  .hero-btns {
    margin-top: 250px;
  }
  
  .hero-btns .btn {
    margin: 120px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: 150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: 50px;
      padding: 10px;
    }
  
    .hero-container > h2 {
      font-size: 20px;
      padding: 10px;
      text-align: center;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      
    }
  
    .btn {
      width: 40%;
      align-items: center;
      display: inline-block;

    }
  }